@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.about-container{
    height:     auto;
    padding-left: 2rem;
    background: #FFFFFF;
}
.about-message1{
    margin-top: 7.5%;
    margin-left: 40px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    color: #8E73DF;
}

.about-message2{
    padding-top:    3rem;
    margin-left: 40px;
    width:          58%;
    font-family:    Noto Sans;
    font-style:     normal;
    font-weight:    normal;
    font-size:      2rem;
    color:        #8E73DF;
    margin-bottom:  180px;
}
.ballsHolder{
    margin-top: 100px;
    min-height: 45vh;
    background-image: url("../img/background-full-parcerias.png");
    background-size: cover;
    background-origin: center;
    background-position-y: -110%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
}
.balls{
    border-radius: 100%;
    box-shadow: 0px 0px 22px 10px #00000026;
    width: 13em;
    height: 13em;
    background: #fff;

    display: flex;
    justify-content: center;
    align-content: center;
}
.ballsOrientation{
    width: 100%;
    height: auto;
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    top: -100px;
    justify-content: space-around;

}
.balls img{
    width: 60%;
}

/* .icon-about{
    width: 50%;
    box-shadow: 0px 0px 22px 10px rgba(0, 0, 0, 0.15);
    border-radius: 100%;
} */

@media screen and (max-width:415px) {
    .about-message1{
        width: 90%;
        font-size: 1.8rem;
        margin-left: 0;

    }
    .about-message2{
        font-size: 1rem;
        width: 90%;
        margin-bottom: 180px;
        margin-left: 0;
    }

    .ballsHolder{
        height: 75vh;
        background: #fff;
    }
    .balls{
        height: 10rem;
        width: 10rem;
    }
    .ballsOrientation{
        flex-flow: column nowrap;
        position: relative;
        top:0;
        align-items: center;
        height: 75%;
        background-image: url("../img/background-full-parcerias.png");
    
    }
    .ballsOrientation .balls:first-child{
        position: absolute;
        top: -70px;
    }
    .ballsOrientation .balls:last-child{
        position: absolute;
        bottom: -70px;
    }
}